 <div ng-show="!currentUser" class="jumbotron" ng-controller="HomeController">
 	<h1>Web crawler</h1>
 	<p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
 	<p><a href="#/login" class="btn btn-lg btn-success" role="button">Log in</a><a href="#/register" class="btn btn-lg btn-success" style="margin-left:10px" role="button">Register</a></p>
 </div>
 <div ng-show="currentUser" ng-controller="SearchController">
 	<div class="panel panel-default">
 		<div class="panel-heading">
 			<h3 class="panel-title">Your searches</h3>
 		</div>
 		<div class="panel-body">
 			<div class="list-group">
 				
 			</div>
 		</div>
 	</div>
 	<div class="panel panel-default">
 		<div class="panel-heading">
 			<h3 class="panel-title">New search</h3>
 		</div>
 		<div class="panel-body">
 			<form novalidate class="simple-form">
 				<div class="form-group">
 					<label for="content">Content:</label>
 					<input name="content" class="form-control" id="content" placeholder="Enter search" ng-model="search">
 				</div>
 				<input type="submit" class="btn btn-success" ng-click="createSearch(search)">
 			</form>
 			<div ng-show="error" class="alert alert-danger">Error submitting search</div>
 			<div ng-show="success" class="alert alert-success">Successfully submitted new search.</div>
 		</div>
 	</div>

 </div>